#browser-page {
  position: relative;
  height:100%;
  width:100%;
}
webview {
  height:100%;
  width:100%;
}
div .sheta{
  position: fixed;
 height:90%;
  width:100%;
  
}

#browser-page-search {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 300px;
  height: 25px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2px;
}
#browser-page-search input {
  display: block;
  width: 288px;
  font-size: 14px;
  padding: 2px 4px;
}

#browser-page-status {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;

  padding: 2px 10px;
  background-color: rgb(201, 201, 201);
  color: #555;
  font-size: 16px;
  font-weight: 100;
}